{% extends "base.html" %}

{% block content %}
    {% if all_articles %}
        <ul class="list-group">
        {% for article in all_articles %}
            <a href="{% url 'detail' article_id=article.pk %}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ article.title }}
                    <span class="badge badge-primary badge-pill">{{ article.hits }}</span>
                </li>
            </a>
        {% endfor %}
        </ul>
    {% else %}
        <p>게시물이 없습니다.</p>
    {% endif %}

    <a href="{% url 'add' %}">
        <button type="button" class="btn btn-primary">게시물 작성</button>
    </a>
{% endblock content %}
